#timer {
    font-size: 3cm;
}

button {
    font-size: 0.5cm;
    background-color: lightgray;
    color: darkslategray;
    border-radius: 8px;
    margin-right: 0.2cm;
    width: 2cm;
}

button:disabled {
    color: darkgray;
}
